<header class="top-page-header2">
  <div class="title">
    <%= link_to "Cattle_Feed", cows_path, class: "title-text"%>
  </div>
  <div class="sub-contents">
    <div class="back-btn">
      <%= link_to "戻る", feeds_path, class: 'btn'%>
    </div>
  </div>
</header>
<div class="feed-show-main">
  <div class="feed-show-btn">
    <div class="feed-edit">
      <%= link_to "編集", "#", class:"btn" %>
    </div>
    <div class="feed-destroy">
      <%= link_to "削除", "#", class:"btn" %>
    </div>
  </div>
  <div class="feed-name">
    <span class="feed-name-title">名称：</span><%= @feed.name %>
  </div>
  <div class="feed-price">
    <span class="feed-price-title">価格：</span><%= @price %><span class="feed-price-unit">円/kg</span>
  </div>
  <div class="feed-nutrients">
    <div class="feed-nutrients-title">
      栄養価（1kg当たり）
    </div>
    <div class="feed-nutrients-lists">
      タンパク質 10g
    </div>
  </div>
</div>