<%= render "shared/header" %>
<body>
  <div class="main-contents">
    <div class="left-contents">
      <div class="cow-contents">
        <% @cows.first(@cows.size / 2).each do |cow| %>
          <ul class="cow-list">
            <%= link_to cow_path(cow.id) do %>
              <li class="cow" doraggable="true">
                <%= cow.numbers %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="right-contents">
      <div class="cow-contents">
        <% @cows.drop(@cows.size / 2).each do |cow| %>
          <ul class="cow-list">
            <%= link_to cow_path(cow.id) do %>
              <li class="cow" doraggable="true">
                <%= cow.numbers %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</body>