<%= render "shared/header2" %>
<div class="show-contents">
  <div class="cow-info">
    <div class="cow-edit-btn">
      <%= link_to "編集", edit_cow_path, class: 'btn' %>
    </div>
    <div class="cow-number">
      <div class="cow-number-label">
        番号
      </div>
      <div class="cow-number-info">
        <% @cow.numbers.to_s.chars.each_with_index do |char, index|%>
          <% if index < 4 %>
            <span class="large-number"><%= char %></span>
          <% else %>
            <span><%= char %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="cow-birth-day">
      <% years_months = @cow.years_and_month_from_birthday.split("年") %>
      <span class="birth-year"><%= years_months[0] %></span>年<%= years_months[1] %>
    </div>
  </div>

  <div class="feed-info">
    <div class="feed-contents">
      <div class="feed-label">
        給餌予定リスト
      </div>
    <div class="feed-list">
      <% if @cow.cow_feeds.any? %>
        <table>
          <thead>
            <tr>
              <th>餌の名前</th>
              <th>量</th>
              <th>価格</th>
            </tr>
          </thead>
          <tbody>
            <% @cow.cow_feeds.each do |cow_feed| %>
              <tr>
                <td><%= cow_feed.feed.name %></td>
                <td><%= cow_feed.volume %>kg</td>
                <td><%= cow_feed.feed.unit_price * cow_feed.volume %>円</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>与える餌はまだありません</p>
      <% end %>
      </div>
    </div>
    <div class="feed-edit">
      <%= link_to "餌の追加", new_cow_cow_feed_path(@cow), class:'btn' %>
    </div>
  </div>
  <div class="memo-info">
    <div class="memo-label">
    メモ
    </div>
    <div class="memo-contents">
    <%= @cow.memo %>
    </div>
  </div>
</div>